# === Python 运行缓存 ===
__pycache__/
*.py[cod]
*$py.class
*.so

# === 虚拟环境 ===


.venv/
venv/
ENV/
env/


# === 环境变量配置 (绝对不能上传!!!) ===
.env


# === IDE 配置 (PyCharm/VSCode) ===
.idea/
.vscode/

# === 本地知识库与缓存数据 ===

/data/
